<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>About</h2>
      <hr>
    </div>
    <div class="col-md-4">
      <h2>Why us?</h2>
      <hr>
    </div>
  </div>
</div>
<div class="container" id="about">
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive img-rounded" src="/assets/images/dancer.jpg" />
    </div>
    <div class="col-md-4">
      <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elitaesent vestibulum
        molestie lacus nonummy hendrerit. </h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
          Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementumve.</p>
    </div>
    <div class="col-md-4" id="why-us">
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
        Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementumve.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8" id="our-mission">
      <h2>Our Mission</h2>
      <hr>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
        Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementumve.</p>
    </div>
  </div>
</div>
