<!-- <h1>Schedule</h1> -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>CALENDAR</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="calendar"></div>
    </div>
  </div>
</div>
